{% extends 'layoutadmin.html' %}

   {% block body %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GroupName - Homepage</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href={{ url_for('static',filename="vendor/bootstrap/css/bootstrap.min.css")}}>

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" type="text/css" href={{ url_for('static',filename="vendor/fontawesome-free/css/all.min.css")}}>
    <link rel="stylesheet" type="text/css" href={{ url_for('static',filename="vendor/simple-line-icons/css/simple-line-icons.css")}}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" type="text/css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href={{ url_for('static',filename= "css/landing-page.min.css")}} >

  <script>
      //searchfunction
      function searchbar() {
            input=document.getElementById("searchbar_input").value;
            form=document.getElementById("SearchForm");
            document.getElementById("input").value=input;
            form.submit()
        }
  </script>
  <style>
        #searchbar_input{position:relative;display:inline-block;}
        .advanced_search{float:right;overflow:hidden;text-decoration:none;
        color:blue;}
        #searchbar_input input[type=text]{border:1px solid #ddd;
            cursor:pointer;
            padding:12px 20px 2px 40px;
            width:100%;font-size:16px;margin-bottom:12px; background:url("#") top right no-repeat;}
        #lists{display:block;position:absolute;background-color:#f6f6f6;
        min-width:230px;border:1px solid #ddd; z-index:1;padding:10px;
        list-style-type:none;overflow:scroll;}
        #lists li a{margin-top:-1px;
        background-color:#f6f6f6;padding:12px 16px;text-decoration:none;
        font-size:10px;color:black;display:block;overflow:hidden;}
        #lists li a:hover{background-color:#eee;}
  </style>
  </head>



      <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
    <!-- search form-->
              <form method="POST" id="SearchForm">
                  {{ form.csrf_token }}
                  {{ form.name }}
              </form>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Take a look at reviews before making your decision to choose your schools!</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input type="text" id="searchbar_input" class="form-control form-control-lg" placeholder="Search for Schools(input name)">
                    <button id="searchbar_button" onclick="searchbar()">search</button>
                    {% if search!=None %}
                        <ul id="lists">
                    {% for name in search %}
                         <li><a href="/directory/{{ name.id }}">{{ name.name }} </a></li>
                    {% endfor %}
                       </ul>
                    {% endif %}
                <a class="advanced_search" href='{{ advanced_search }}'>advanced search</a><br>
                </div>
                <div class="col-12 col-md-3">
                  <!--<button type="submit" class="btn btn-block btn-lg btn-primary">Search!</button> -->
                </div>
              </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>Secondary Schools</h3>
              <p class="lead mb-0">An engaging and fun education journey is waiting for you!</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"></i>
              </div>
              <h3>Polytechnics</h3>
              <p class="lead mb-0">A variety of courses for you to choose from once you have decided your future career.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h3>Junior Colleges</h3>
              <p class="lead mb-0">Ready to prepare you for life in university!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../static/img/home2.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Facilities</h2>
            <p class="lead mb-0">Learn more about what people think of the facilities in your dream school!</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('../static/img/home1.jpg');"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Teachers</h2>
            <p class="lead mb-0">Check out on your favourite teachers.</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../static/img/home3.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Environment</h2>
            <p class="lead mb-0">Learn more about your dream school environment</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">Some Reviews</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <a href="#"><img class="img-fluid rounded-circle mb-3" src={{ url_for('static',filename="img/test1.")}} alt=""></a>
              <h5><a href="review.html"> Margaret E.</a></h5>
              <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <a href="#"><img class="img-fluid rounded-circle mb-3" src={{ url_for('static',filename="img/Defaultpic.png")}} alt=""></a>
              <h5><a href="review.html"> Baba Yaga</a></h5>
              <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
            </div>
          </div>
         <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <a href="#"><img class="img-fluid rounded-circle mb-3" src={{ url_for('static',filename="img/test2.jpg")}} alt=""></a>
              <h5><a href="review.html"> John Wick</a></h5>
              <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Bootstrap core JavaScript -->
    <script src={{ url_for('static',filename="vendor/jquery/jquery.min.js")}}></script>
    <script src={{ url_for('static',filename="vendor/bootstrap/js/bootstrap.bundle.min.js")}}></script>

 {% endblock %}


